@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.react-colorful__saturation, .react-colorful__last-control{
  /*remove radius border to color picker from react-colorful*/
  border-radius: 0 !important;
}

.react-colorful{
  height: 140px !important;
    width: 140px !important;
}

@media (max-width: 360px) {
  .react-colorful {
    height: 120px !important;
    width: 120px !important;
  }
}

body {
  margin: 0;
  overflow: hidden; /* Impede a rolagem da página */
}
